[mysqld]

# Network settings
port = 3306
bind-address = 0.0.0.0

# Path settings
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysqld.sock
log-error = /var/lib/mysql/error.log
pid-file = /var/lib/mysql/mysqld.pid