[mysqld]

# Network settings
port = 3306
bind-address = 0.0.0.0

# Path settings
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysqld.sock
log-error = /var/lib/mysql/error.log
pid-file = /var/lib/mysql/mysqld.pid

# Replication settings
log_bin = mysql-bin
binlog_format = ROW
relay-log = mysql-relay
binlog_expire_logs_seconds = 604800
max_binlog_size = 128M

# GTID settings
gtid_mode = ON
enforce_gtid_consistency = ON

# Replica startup
skip_replica_start = ON